@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);

@bg-color: rgb(0, 0, 0);
@bg-color-light: lighten(@bg-color, 25%);

@font-size: 9pt;
@font-size-large: @font-size + 2pt;

@padding: 5px;


.tweak {
  color: rgba(255, 255, 255, 1);
  font-family: 'Share Tech Mono', monospace;
  font-size: @font-size;

  button {
    background-color: #2dabf9;
    border: none;
  }

  fieldset {
    border: none;
    margin: 0px;
    padding: 0px;
  }

  input[type="number"] {
    background-color: @bg-color-light;
    border: none;
    width: 4em;
    padding: @padding;

  }

  input[type="range"] {
    display: inline;
    width: auto;

    -webkit-appearance: none;
    border-radius: 0px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 10px;
    vertical-align: middle;

    &::-webkit-slider-thumb {
      -webkit-appearance: none !important;
      border-radius: 0px;
      background-color: white;
      height: 10px;
      width: 20px;
    }
  }

  label {
    font-weight: normal;
    margin: 0px;
    text-align: right;
    width: 3em;
  }

  legend {
    border: none;
    color: inherit;
    font-size: @font-size-large;
    margin: 0px;
    padding-left: @padding;
  }

  output {
    color: inherit;
    display: inline;
    font-size: inherit;
    width: 4em;
    text-align: right;
  }
}

.tweak-panel {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;

  background-color: @bg-color;
  opacity: 0.5;
  overflow-y: scroll;
  padding: 10px;

  -webkit-transition: opacity 0.1s;

  &:hover {
    opacity: 0.8;
  }

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
  }

  &::-webkit-scrollbar-thumb {
    background-color: #2dabf9;
  }
}

.tweak-panel-parameters {
  margin-top: @padding;

  > fieldset {
    > .tweak-fieldset-fields {
      border: none;
      padding: 0px;
    }

    > legend {
      display: none;
    }
  }
}

.tweak-fieldset-fields {
  padding-top: @padding;
  padding-left: @padding;
  border-left-color: white;
  border-left-style: solid;
  border-left-width: 1px;
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 1px;
}

