<template name="rangeParameter">
  <div class="tweak tweak-parameter">
    <label class="{{labelClass}}" for="{{id}}">{{label}}</label>
    {{> UI.dynamic template=template data=data}}
  </div>
</template>

<template name="rangeParameterValue">
  <input type="range"
         id="{{id}}"
         min="{{min}}"
         value="{{value}}"
         max="{{max}}"
         step="{{step}}">
  <output for="{{id}}">{{value}}</output>
</template>

<template name="rangeParameterLimit">
  <input type="number" id="{{id}}" value="{{value}}">
</template>
